# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

DIRECT_URL=""postgresql://postgres.ieinhkusrjdlxbimkmge:[password]@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres"

SUPABASE_SERVICE_ROLE_KEY=


NEXT_PUBLIC_SUPABASE_URL="https://ieinhkusrjdlxbimkmge.supabase.co"